@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.cursive {
  font-family: 'Lobster', cursive;
}

h1, p {
  text-align: center;
}

.jumbotron {
  margin-bottom: 0px;
  height: 576px;
}
